<officeconfig>
  <logs>
    <log action="NewFile" version="860" name="image001.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:33:51" crc32="1805686332" />
    <log action="NewFile" version="860" name="episerver.html" redirectFromName="" by="EP\roger" date="10/06/2004 18:33:51" crc32="807982287" />
    <log action="NewFile" version="860" name="Kalkylbladsexempel.xls" redirectFromName="" by="EP\roger" date="10/06/2004 18:33:51" crc32="227309850" />
  </logs>
</officeconfig>