<officeconfig>
  <logs>
    <log action="NewFile" version="955" name="page.html" redirectFromName="" by="EP\roger" date="11/03/2004 13:16:11" crc32="427173770" />
    <log action="NewFile" version="955" name="image002.gif" redirectFromName="" by="EP\roger" date="11/03/2004 13:16:11" crc32="38189611" />
    <log action="NewFile" version="955" name="image001.jpg" redirectFromName="" by="EP\roger" date="11/03/2004 13:16:11" crc32="1881736014" />
    <log action="NewFile" version="955" name="Exempeldokument.doc" redirectFromName="" by="EP\roger" date="11/03/2004 13:16:11" crc32="2819865546" />
  </logs>
</officeconfig>