<officeconfig>
  <logs>
    <log action="NewFile" version="854" name="image001.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:10:12" crc32="1805686332" />
    <log action="NewFile" version="854" name="episerver.html" redirectFromName="" by="EP\roger" date="10/06/2004 18:10:12" crc32="807982287" />
    <log action="NewFile" version="854" name="Kalkylbladsexempel.xls" redirectFromName="" by="EP\roger" date="10/06/2004 18:10:12" crc32="607903394" />
  </logs>
</officeconfig>