<?xml version="1.0" encoding="utf-8" ?>
<log4net>
      <!--
        - LogAppender used to send log messages to the Log Service
        - Values:
        -    encoding      - has to be set to Unicode
        -    remoteAddress - ip-address for your log service
        -    remotePort    - has to be set to the same port as defined in 
        -                    'udpClientPort' in the configuration file for the log service
        -                    located in the file %PROGRAMFILES%/EPiServer.LogService/EPiServer.Log.Service.exe.config
        -->

      <appender name="UdpAppender" type="EPiServer.Diagnostics.EPiServerUdpAppender, EPiServer">
		<remoteAddress value="127.0.0.1" />
		<remotePort value="7070" />
      </appender>



      <!--
        - FileAppender used to write log messages to a file on the local server
        - Values:
        -    file      - The file to write messages to 
        -->
      
      <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="c:\\EPiServerLog\\1\\Monitor\\Errorlog-file.txt" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <layout type="log4net.Layout.PatternLayout">
           <param name="ConversionPattern" value="%d\t%X{siteid}\t%m%n" />
        </layout>
      </appender>



      <!--
        - Special logger to send log messages when a page is published.
        -->
      <logger name="EPiServer.DataAccess.PageSaveDB">
            <level value="DEBUG" />
      </logger>



	  <!--
	    - Statistic logger to send UDP messages to the LogService for 
	    - page statistic generated by the LogGenerator webcontrol.
	    -->
	  <logger name="EPiServer.Util.PixelImg">
            <!-- To disabe Statistics change the 
              - value="INFO" to value="OFF" 
              -->
            <level value="INFO" />
      </logger>




      <!-- Root logger that logs all messages of type WARN or higher -->
      <root>
            <level value="WARN" />
            <appender-ref ref="UdpAppender" />
            
            <!-- Out comment this if a local log file should be saved on the server-->
            <!--appender-ref ref="FileAppender" /-->
      </root>
</log4net>

