<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="episerver">
      <section name="unifiedFileSystem" allowDefinition="MachineToApplication" allowLocation="false" type="EPiServer.FileSystem.Handler.ConfigurationHandler,EPiServer" />
    </sectionGroup>
  </configSections>
  <episerver>
    <unifiedFileSystem>
      <mappings>
      </mappings>
      <handlers customFileSummarySearch="/docrepository/summary.config">
        <handler pageDirectory="False" virtualName="upload" virtualShare="False" type="EPiServer.FileSystem.Handler.NativeFileSystem,EPiServer" />
        <handler customFileSummary="/docrepository/summary.config" pageDirectory="False" virtualName="Documents" virtualShare="True" type="EPiServer.FileSystem.Handler.VersioningFileSystem,EPiServer">
          <customSettings FilePath="/docrepository/" MaxVersions="7" />
        </handler>
      </handlers>
    </unifiedFileSystem>
  </episerver>
  <runtime>
    <assemblyBinding>
      <dependentAssembly />
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Licensing" publicKeyToken="6c80515f031c7fe6" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Lucene" publicKeyToken="43d231316daad2b2" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.4.3.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Win32" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ElektroPost.Wsrp" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.0.16" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.BaseLibrary" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="5.0.0.0-5.65535.65535.65535" newVersion="5.0.2000.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.CodeBehind" publicKeyToken="" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Implementation" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="5.0.0.0-5.65535.65535.65535" newVersion="5.0.2000.15" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.IndexingService" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Log.Analyzers" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Log.Core" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.LogService" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Scheduler" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Scheduler.WKTL" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.SchedulerSvc" publicKeyToken="" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Workflow" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.XForms" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.65535.65535.65535" newVersion="4.62.0.469" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServerSample" publicKeyToken="" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.2833.16690" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ldapper" publicKeyToken="0df93c7ef1c3c726" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.0.1.29" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="b32731d11ce58905" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.65535.65535.65535" newVersion="1.2.0.30714" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Services2" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.65535.65535.65535" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MILHTMLParser" publicKeyToken="49582048716da0a9" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.65535.65535.65535" newVersion="2.3.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <!--  EPiSec AUTHENTICATION SUPPORT
		  
		  Uncomment the <httpModules ... /> directive and install PassthroughFilter.dll to enable
		  EPiSec-style logons with basic authentication. Note that you must disable all kinds of 
		  authentication support in IIS to make this work.
	-->
    <httpModules>
      <!-- add name="BasicAuthentication" type="EPiServer.Security.BasicAuthentication, EPiServer" / -->
      <!-- add name="MultiLanguageRuntime" type="EPiServer.Util.MultiLanguageRuntime, EPiServer" / -->
      <add name="WorkflowManager" type="EPiServer.Workflow.WorkflowManager, EPiServer.Workflow" />
      <add name="SpiderSupport" type="EPiServer.Util.SpiderSupport, EPiServer" />
      <add name="Initializer" type="EPiServer.Scheduler.Initializer, EPiServer.Scheduler" />
      <add name="UnifiedFileSystem" type="EPiServer.FileSystem.UnifiedFileSystemModule, EPiServer" />
      <add name="FriendlyUrl" type="EPiServer.Util.FriendlyUrlModule, EPiServer" />
      <add name="ExternalUrl" type="EPiServer.Util.ExternalUrlModule, EPiServer" />
    </httpModules>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
    
   		  !!!! IMPORTANT SECURITY NOTE !!!!!
   		  
   		  If you enable forms authentication by uncommenting the Forms authentication information below AND
   		  you are using Windows 2000 (any version) as web server, you MUST enable the "Act as part of the
   		  operating system" user right for the ASPNET user account. If this is not done, you will not be able 
   		  to logon with windows accounts, only Extranet accounts. However this may be regarded as compromising
   		  the security on your system since the ASPNET account should be a low-privilege account. 

          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None". However only "Windows" and "Forms" are supported by EPiServer.
    -->
    <!--authentication mode="Windows" /-->
    <authentication mode="Forms">
      <forms name=".EPiServerLogin" loginUrl="Util/login.aspx" />
    </authentication>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages validateRequest="false" />
  </system.web>
  <location path="ui/admin">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <authorization>
        <allow roles="WebAdmins, Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ui/edit">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <authorization>
        <allow roles="WebAdmins, WebEditors, Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServices">
    <system.web>
      <authorization>
        <allow roles="WebServices,Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="util">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
  </location>
  <location path="templates/wsrp/services">
    <system.web>
      <webServices>
        <wsdlHelpGenerator href="../../../util/WsrpHelpPage.aspx" />
      </webServices>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
  </location>
  <appSettings>
    <add key="EPsConnection" value="Data Source=HAI-CE064996664\MSSQL2008;Database=dbMyEPiServer;User Id=dbMyEPiServerUser;Password=alq#11St53#134;Network Library=DBMSSOCN;" />
    <add key="EPnStartPage" value="243" />
    <add key="EPnRootID" value="1" />
    <add key="EPsRootDir" value="/" />
    <add key="EPsHostUrl" value="http://localhost" />
    <add key="EPnQueryTimeout" value="60" />
    <!-- How long time (in minutes) to keep the user principal information -->
    <add key="EPnUserCacheTimeout" value="10" />
    <!-- Language/locale settings -->
    <add key="EPsLanguage" value="EN" />
    <add key="EPnLocale" value="1053" />
    <!-- Informational settings -->
    <add key="EPsSiteName" value="My EPiServer" />
    <add key="EPnEditorHeight" value="250" />
    <add key="EPnEditorWidth" value="500" />
    <add key="EPnVersionCount" value="0" />
    <add key="EPsEditControlVersion" value="2,0,0,31" />
    <add key="EPsBackupDevice" value="" />
    <add key="EPnWastebasketID" value="2" />
    <add key="EPnCategoryID" value="1" />
    <!-- LDAP Configuration parameters
    
    EPsLdapServer				= Host name of LDAP server. For example "ldap.microsoft.com" or "192.168.12.23"
    EPsLdapUser					= A user that has read/browse access to the entire tree where you want to authentiocate.
    EPsLdapDomain				= For ActiveDirectory you should enter the domain for EPsLdapUser, for NDS, leave blank.
    EPsLdapPassword				= Password for EPsLdapUser
    EPsLdapRootContext			= If you want to limit the scope of group searches, set this parameter to the desired starting point.
								  For ActiveDirectory sites it is highly recommended to set this parameter to the root to avoid
								  searching in the schema data. For domain ep.se the root context should be "dc=ep,dc=se".
    EPnLdapAuthenticationType	= A numeric value to select the authentication type. Possible values are:
								  128 = Simple authentication, i e clear text.
								  1158 = Negotiate authentication (recommended).
								  Add 131072 to force communication over SSL.
	EPfLdapAuthenticateWithBind	= If your LDAP server does not support the ldap_compare command to check passwords, set to "True"
								  to use a second Bind to provide the authentication service.
	EPsLdapServerType			= If you use ActiveDirectory and AuthenticationMode = Windows, set this parameter to "AD". This
								  will enable check of LDAP group membership event for Windows accounts.
    -->
    <add key="EPsLdapServer" value="" />
    <add key="EPsLdapDomain" value="" />
    <add key="EPsLdapUser" value="" />
    <add key="EPsLdapPassword" value="" />
    <add key="EPsLdapRootContext" value="" />
    <add key="EPnLdapAuthenticationType" value="1158" />
    <add key="EPfLdapAuthenticateWithBind" value="False" />
    <add key="EPsLdapServerType" value="" />
    <add key="EPsEditCSS" value="/styles/editor.css" />
    <!-- Virtual directories -->
    <add key="EPsAdminDir" value="ui/admin/" />
    <add key="EPsEditDir" value="ui/edit/" />
    <add key="EPsUploadDir" value="/upload/" />
    <!-- HTTP ports, required to access edit and admin directories. Leave empty to use default ports. -->
    <add key="EPnAdminHttpPort" value="" />
    <add key="EPnEditHttpPort" value="" />
    <!-- 
		Used when communicating with other systems, should be set to a unique
		short name without spacing, ie if host name is http://www.episerver.com
		site name could be "episervercom"
	-->
    <add key="EPsLocalSite" value="unknown" />
    <!-- Page cache interval in hours for local database, set to 0 to disable -->
    <add key="EPnPageCacheTimeout" value="12" />
    <!-- Page cache interval in hours for remote sites, set to 0 to disable -->
    <add key="EPnRemotePageCacheTimeout" value="2" />
    <!-- If EPiServer 4 should forward cache events and system settings to a EPiServer 3 environment -->
    <add key="EPfEPiServer3Compability" value="False" />
    <!--
		Set to True to enable "alternate files", for example to execute your own version of admin/default.aspx,
		save your version of the file as admin_/default.aspx (note the underscore) and change this setting to true.
		It is disabled by default because of possible performance issues (will cause and extra file system hit per
		web request).
	-->
    <add key="EPfEnableAlternateFiles" value="False" />
    <!--
		A comma-separated list of remote sites that will receive cache notification when a change is made on this
		installtion. Only enter the short name, the definition of url etc is made in admin mode under Remove sites.
		Useful for web farms scenarios, and other when data is shared.
	-->
    <add key="EPsCacheListeners" value="" />
    <!--
		Change this value to set the number of seconds a page should be cached, this value will be set in the
		http request policy. It will activate both client side caching and server caching (outputcache). 
		Policy will only apply to anonymous	users and when http request method is GET. The cache will automatically
		be updated when changes are made to a page in EPiServer.
		Recommended setting is 3600 = 1 hour
	-->
    <add key="EPnCachePolicyTimeout" value="0" />
    <!-- The custom values the browser should vary by -->
    <add key="EPsCacheVaryByCustom" value="browser" />
    <!-- The parameters to the page(ie querystring) that the cache should vary by-->
    <add key="EPsCacheVaryByParams" value="id" />
    <!--
        EPsSmtpServer           = Default Smtp server that is used by all built-in mail functions.
        EPnSmtpServerPort       = Default Smtp port that is used by all built-in mail functions (leave empty for default port 25).
        EPsSmtpUser             = Default Smtp user name that is used by all built-in mail functions.
        EPsSmtpPassword         = Default Smtp password that is used by all built-in mail functions.
    -->
    <add key="EPsSmtpServer" value="" />
    <add key="EPnSmtpServerPort" value="" />
    <add key="EPsSmtpUser" value="" />
    <add key="EPsSmtpPassword" value="" />
    <!-- Page template validation, a page always compares the current template with the page type template.
		 Templates that support multiple page types should override ValidatePageTemplate method and make their
		 own validation.
	-->
    <add key="EPfValidatePageTemplate" value="True" />
    <!-- By default passwords should not be stored as clear-text -->
    <add key="EPfEnableClearTextPasswords" value="False" />
    <!-- 
		 The number of characters when compression should be activated for large strings in properties deriving from Long String. 
		 A lower value will decrease memory usage but may increase CPU usage, the optimial value depends on the amount of content.
		 Setting this value to 0 will disable compression of strings.
	-->
    <add key="EPnStringCompressionThreshold" value="10000" />
    <add key="EPnRequiredPasswordLength" value="3" />
    <add key="EPnDefaultGroup" value="1" />
    <add key="EPnMaxFailedLogonAttempts" value="0" />
    <add key="EPfAutoActivateUser" value="True" />
    <add key="EPfEnableFreeRegistring" value="False" />
    <add key="EPfPasswordRequireAlpha" value="False" />
    <add key="EPfPasswordRequireNumber" value="False" />
    <add key="EPfPasswordRequireSymbol" value="False" />
    <add key="EPsRegistryEmailTo" value="" />
    <add key="EPsRegistryEmailFrom" value="" />
    <add key="EPsRegistryEmailSubject" value="" />
    <add key="EPsRegistryEmailBody" value="" />
    <add key="EPsActivationEmailSubject" value="" />
    <add key="EPsActivationEmailBody" value="" />
    <add key="EPnEditorValueOptions" value="0" />
    <add key="EPnDefaultToolbar" value="0" />
    <add key="EPfHtmlEditor" value="True" />
    <add key="EPsErrorHandling" value="RemoteOnly" />
    <add key="EPsSubscriptionHandler" value="EPiServer.Personalization.SubscriptionMail,EPiServer" />
    <add key="EPfEnableFriendlyUrl" value="True" />
    <add key="EPsSafeHtmlTags" value="b,i,u,br" />
    <add key="EPfValidateLanguageSelection" value="True" />
  </appSettings>
</configuration>