<officeconfig>
  <logs>
    <log action="NewFile" version="858" name="page.html" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="883214770" />
    <log action="NewFile" version="858" name="image019.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="3996977180" />
    <log action="NewFile" version="858" name="image018.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="730497893" />
    <log action="NewFile" version="858" name="image017.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="1359615692" />
    <log action="NewFile" version="858" name="image016.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="3592226481" />
    <log action="NewFile" version="858" name="image015.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="3628860185" />
    <log action="NewFile" version="858" name="image014.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="2968575607" />
    <log action="NewFile" version="858" name="image013.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="965234257" />
    <log action="NewFile" version="858" name="image012.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="4159888070" />
    <log action="NewFile" version="858" name="image011.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="3545754442" />
    <log action="NewFile" version="858" name="image010.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="1887095509" />
    <log action="NewFile" version="858" name="image009.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="3719341898" />
    <log action="NewFile" version="858" name="image008.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:17" crc32="2482167594" />
    <log action="NewFile" version="858" name="image007.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="85825655" />
    <log action="NewFile" version="858" name="image006.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="2033662698" />
    <log action="NewFile" version="858" name="image005.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="4098719411" />
    <log action="NewFile" version="858" name="image004.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="341942447" />
    <log action="NewFile" version="858" name="image003.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="1107091635" />
    <log action="NewFile" version="858" name="image002.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="3985916175" />
    <log action="NewFile" version="858" name="image001.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="3564566084" />
    <log action="NewFile" version="858" name="White paper - EPiServer SharePoint Connector.doc" redirectFromName="" by="EP\roger" date="10/06/2004 18:16:18" crc32="978052364" />
  </logs>
</officeconfig>