<officeconfig>
  <logs>
    <log action="NewFile" version="956" name="Slide4.PNG" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="4226921481" />
    <log action="NewFile" version="956" name="Slide3.PNG" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="1983759867" />
    <log action="NewFile" version="956" name="Slide2.PNG" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="3206428642" />
    <log action="NewFile" version="956" name="Slide1.PNG" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="341725261" />
    <log action="NewFile" version="956" name="slide0004_image010.jpg" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="3274794592" />
    <log action="NewFile" version="956" name="slide0004_image009.gif" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="2100550553" />
    <log action="NewFile" version="956" name="slide0004.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="4250372327" />
    <log action="NewFile" version="956" name="slide0003.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="3487459276" />
    <log action="NewFile" version="956" name="slide0002.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="1597532586" />
    <log action="NewFile" version="956" name="slide0001.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:18" crc32="3941745430" />
    <log action="NewFile" version="956" name="script.js" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="584562835" />
    <log action="NewFile" version="956" name="preview.wmf" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="3534970036" />
    <log action="NewFile" version="956" name="pres.xml" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="4222993064" />
    <log action="NewFile" version="956" name="page.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2941328429" />
    <log action="NewFile" version="956" name="outline.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2030552658" />
    <log action="NewFile" version="956" name="master05_image005.jpg" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2556727050" />
    <log action="NewFile" version="956" name="master05_image004.gif" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="1241817681" />
    <log action="NewFile" version="956" name="master05_image003.png" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="1251262642" />
    <log action="NewFile" version="956" name="master05.xml" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2238614793" />
    <log action="NewFile" version="956" name="master05.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="3291163155" />
    <log action="NewFile" version="956" name="master04_stylesheet.css" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="4022228671" />
    <log action="NewFile" version="956" name="master04_image008.gif" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2916863806" />
    <log action="NewFile" version="956" name="master04_image007.jpg" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="1244166466" />
    <log action="NewFile" version="956" name="master04_image006.gif" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2348185050" />
    <log action="NewFile" version="956" name="master04_image002.jpg" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="3341824512" />
    <log action="NewFile" version="956" name="master04_image001.png" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="996333433" />
    <log action="NewFile" version="956" name="master04.xml" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="3566090302" />
    <log action="NewFile" version="956" name="master04.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2330716782" />
    <log action="NewFile" version="956" name="master02.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="2078501432" />
    <log action="NewFile" version="956" name="master01.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="1273074350" />
    <log action="NewFile" version="956" name="fullscreen.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:19" crc32="3172749366" />
    <log action="NewFile" version="956" name="frame.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:20" crc32="1815815540" />
    <log action="NewFile" version="956" name="filelist.xml" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:20" crc32="3171761107" />
    <log action="NewFile" version="956" name="episerver.html" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:20" crc32="3276048583" />
    <log action="NewFile" version="956" name="buttons.gif" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:20" crc32="2871881520" />
    <log action="NewFile" version="956" name="Exempel på Powerpoint presentation.ppt" redirectFromName="" by="EP\roger" date="11/03/2004 14:06:20" crc32="2504568230" />
  </logs>
</officeconfig>