<officeconfig>
  <logs>
    <log action="NewFile" version="1080" name="v3_slide0004.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:47" crc32="904322344" />
    <log action="NewFile" version="1080" name="v3_slide0003.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:47" crc32="2517566769" />
    <log action="NewFile" version="1080" name="v3_slide0002.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:47" crc32="1212668794" />
    <log action="NewFile" version="1080" name="v3_slide0001.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:47" crc32="3481494381" />
    <log action="NewFile" version="1080" name="v3_prev_disabled.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:47" crc32="1211103923" />
    <log action="NewFile" version="1080" name="v3_prev_active.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:47" crc32="3055453083" />
    <log action="NewFile" version="1080" name="v3_next_disabled.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:47" crc32="2672134105" />
    <log action="NewFile" version="1080" name="v3_next_active.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="4077758839" />
    <log action="NewFile" version="1080" name="v3_navigation_bar.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="4040705056" />
    <log action="NewFile" version="1080" name="v3_master05_image004.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="1308126841" />
    <log action="NewFile" version="1080" name="v3_master04_image007.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="3028956632" />
    <log action="NewFile" version="1080" name="v3_master04_image006.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="4042068217" />
    <log action="NewFile" version="1080" name="v3_master04_image005.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="27041553" />
    <log action="NewFile" version="1080" name="v3_endshow.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="1428414467" />
    <log action="NewFile" version="1080" name="v3_document.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="28707366" />
    <log action="NewFile" version="1080" name="Slide4.PNG" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="1368628876" />
    <log action="NewFile" version="1080" name="Slide3.PNG" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="1286790939" />
    <log action="NewFile" version="1080" name="Slide2.PNG" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="2085764639" />
    <log action="NewFile" version="1080" name="Slide1.PNG" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="96967334" />
    <log action="NewFile" version="1080" name="slide0004_image014.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="2453698314" />
    <log action="NewFile" version="1080" name="slide0004_image013.png" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="2588930492" />
    <log action="NewFile" version="1080" name="slide0004.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="2552705824" />
    <log action="NewFile" version="1080" name="slide0003.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:48" crc32="2161043430" />
    <log action="NewFile" version="1080" name="slide0002.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="3293178027" />
    <log action="NewFile" version="1080" name="slide0001.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="2021719102" />
    <log action="NewFile" version="1080" name="script.js" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="2954216673" />
    <log action="NewFile" version="1080" name="preview.wmf" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="1866852651" />
    <log action="NewFile" version="1080" name="pres.xml" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="1610287502" />
    <log action="NewFile" version="1080" name="page.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="2664303918" />
    <log action="NewFile" version="1080" name="outline.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="2765345894" />
    <log action="NewFile" version="1080" name="master05_image009.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="1082686476" />
    <log action="NewFile" version="1080" name="master05_image008.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="4040228822" />
    <log action="NewFile" version="1080" name="master05_image003.png" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="1251262642" />
    <log action="NewFile" version="1080" name="master05.xml" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="3445272568" />
    <log action="NewFile" version="1080" name="master05.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="4244185342" />
    <log action="NewFile" version="1080" name="master04_stylesheet.css" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="4022228671" />
    <log action="NewFile" version="1080" name="master04_image012.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="2916863806" />
    <log action="NewFile" version="1080" name="master04_image011.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="40185584" />
    <log action="NewFile" version="1080" name="master04_image010.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="2857325560" />
    <log action="NewFile" version="1080" name="master04_image002.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="3341824512" />
    <log action="NewFile" version="1080" name="master04_image001.png" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="996333433" />
    <log action="NewFile" version="1080" name="master04.xml" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="668798426" />
    <log action="NewFile" version="1080" name="master04.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:49" crc32="4012725347" />
    <log action="NewFile" version="1080" name="master02.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="1579962868" />
    <log action="NewFile" version="1080" name="master01.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="2759779543" />
    <log action="NewFile" version="1080" name="fullscreen.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="3521630994" />
    <log action="NewFile" version="1080" name="frame.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="1374501856" />
    <log action="NewFile" version="1080" name="filelist.xml" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="1400656617" />
    <log action="NewFile" version="1080" name="episerver.html" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="3276048583" />
    <log action="NewFile" version="1080" name="buttons.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="2871881520" />
    <log action="NewFile" version="1080" name="Sample Powerpoint presentation.ppt" redirectFromName="" by="EP\per" date="11/15/2004 19:18:50" crc32="12590988" />
  </logs>
</officeconfig>