<officeconfig>
  <logs>
    <log action="NewFile" version="861" name="page.html" redirectFromName="" by="EP\roger" date="10/06/2004 18:35:05" crc32="3594085176" />
    <log action="NewFile" version="861" name="White paper - EPiServer SharePoint Connector.doc" redirectFromName="" by="EP\roger" date="10/06/2004 18:35:05" crc32="1615171536" />
    <log action="NewFile" version="862" name="page_v862.html" redirectFromName="page.html" by="EP\roger" date="10/06/2004 18:36:02" crc32="883214770" />
    <log action="NewFile" version="862" name="image019.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:02" crc32="3996977180" />
    <log action="NewFile" version="862" name="image018.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:02" crc32="730497893" />
    <log action="NewFile" version="862" name="image017.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:02" crc32="1359615692" />
    <log action="NewFile" version="862" name="image016.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:02" crc32="3592226481" />
    <log action="NewFile" version="862" name="image015.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="3628860185" />
    <log action="NewFile" version="862" name="image014.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="2968575607" />
    <log action="NewFile" version="862" name="image013.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="965234257" />
    <log action="NewFile" version="862" name="image012.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="4159888070" />
    <log action="NewFile" version="862" name="image011.gif" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="3545754442" />
    <log action="NewFile" version="862" name="image010.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="1887095509" />
    <log action="NewFile" version="862" name="image009.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="3719341898" />
    <log action="NewFile" version="862" name="image008.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="2482167594" />
    <log action="NewFile" version="862" name="image007.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="85825655" />
    <log action="NewFile" version="862" name="image006.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="2033662698" />
    <log action="NewFile" version="862" name="image005.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="4098719411" />
    <log action="NewFile" version="862" name="image004.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:03" crc32="341942447" />
    <log action="NewFile" version="862" name="image003.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:04" crc32="1107091635" />
    <log action="NewFile" version="862" name="image002.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:04" crc32="3985916175" />
    <log action="NewFile" version="862" name="image001.jpg" redirectFromName="" by="EP\roger" date="10/06/2004 18:36:04" crc32="3564566084" />
    <log action="NewFile" version="862" name="White paper - EPiServer SharePoint Connector_v862.doc" redirectFromName="White paper - EPiServer SharePoint Connector.doc" by="EP\roger" date="10/06/2004 18:36:04" crc32="1739531086" />
    <log action="RedirectFile" version="863" name="page_v862.html" redirectFromName="page.html" by="EP\roger" date="10/06/2004 18:36:28" crc32="2360996174" />
    <log action="RedirectFile" version="863" name="image019.jpg" redirectFromName="image019.jpg" by="EP\roger" date="10/06/2004 18:36:28" crc32="3996977180" />
    <log action="RedirectFile" version="863" name="image018.jpg" redirectFromName="image018.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="730497893" />
    <log action="RedirectFile" version="863" name="image017.jpg" redirectFromName="image017.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="1359615692" />
    <log action="RedirectFile" version="863" name="image016.gif" redirectFromName="image016.gif" by="EP\roger" date="10/06/2004 18:36:29" crc32="3592226481" />
    <log action="RedirectFile" version="863" name="image015.jpg" redirectFromName="image015.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="3628860185" />
    <log action="RedirectFile" version="863" name="image014.jpg" redirectFromName="image014.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="2968575607" />
    <log action="RedirectFile" version="863" name="image013.jpg" redirectFromName="image013.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="965234257" />
    <log action="RedirectFile" version="863" name="image012.gif" redirectFromName="image012.gif" by="EP\roger" date="10/06/2004 18:36:29" crc32="4159888070" />
    <log action="RedirectFile" version="863" name="image011.gif" redirectFromName="image011.gif" by="EP\roger" date="10/06/2004 18:36:29" crc32="3545754442" />
    <log action="RedirectFile" version="863" name="image010.jpg" redirectFromName="image010.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="1887095509" />
    <log action="RedirectFile" version="863" name="image009.jpg" redirectFromName="image009.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="3719341898" />
    <log action="RedirectFile" version="863" name="image008.jpg" redirectFromName="image008.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="2482167594" />
    <log action="RedirectFile" version="863" name="image007.jpg" redirectFromName="image007.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="85825655" />
    <log action="RedirectFile" version="863" name="image006.jpg" redirectFromName="image006.jpg" by="EP\roger" date="10/06/2004 18:36:29" crc32="2033662698" />
    <log action="RedirectFile" version="863" name="image005.jpg" redirectFromName="image005.jpg" by="EP\roger" date="10/06/2004 18:36:30" crc32="4098719411" />
    <log action="RedirectFile" version="863" name="image004.jpg" redirectFromName="image004.jpg" by="EP\roger" date="10/06/2004 18:36:30" crc32="341942447" />
    <log action="RedirectFile" version="863" name="image003.jpg" redirectFromName="image003.jpg" by="EP\roger" date="10/06/2004 18:36:30" crc32="1107091635" />
    <log action="RedirectFile" version="863" name="image002.jpg" redirectFromName="image002.jpg" by="EP\roger" date="10/06/2004 18:36:30" crc32="3985916175" />
    <log action="RedirectFile" version="863" name="image001.jpg" redirectFromName="image001.jpg" by="EP\roger" date="10/06/2004 18:36:30" crc32="3564566084" />
    <log action="NewFile" version="863" name="White paper - EPiServer SharePoint Connector_v863.doc" redirectFromName="White paper - EPiServer SharePoint Connector.doc" by="EP\roger" date="10/06/2004 18:36:30" crc32="1808766106" />
    <log action="RedirectFile" version="864" name="page_v862.html" redirectFromName="page.html" by="EP\roger" date="10/06/2004 18:36:49" crc32="2360996174" />
    <log action="RedirectFile" version="864" name="image019.jpg" redirectFromName="image019.jpg" by="EP\roger" date="10/06/2004 18:36:49" crc32="3996977180" />
    <log action="RedirectFile" version="864" name="image018.jpg" redirectFromName="image018.jpg" by="EP\roger" date="10/06/2004 18:36:49" crc32="730497893" />
    <log action="RedirectFile" version="864" name="image017.jpg" redirectFromName="image017.jpg" by="EP\roger" date="10/06/2004 18:36:49" crc32="1359615692" />
    <log action="RedirectFile" version="864" name="image016.gif" redirectFromName="image016.gif" by="EP\roger" date="10/06/2004 18:36:49" crc32="3592226481" />
    <log action="RedirectFile" version="864" name="image015.jpg" redirectFromName="image015.jpg" by="EP\roger" date="10/06/2004 18:36:49" crc32="3628860185" />
    <log action="RedirectFile" version="864" name="image014.jpg" redirectFromName="image014.jpg" by="EP\roger" date="10/06/2004 18:36:49" crc32="2968575607" />
    <log action="RedirectFile" version="864" name="image013.jpg" redirectFromName="image013.jpg" by="EP\roger" date="10/06/2004 18:36:49" crc32="965234257" />
    <log action="RedirectFile" version="864" name="image012.gif" redirectFromName="image012.gif" by="EP\roger" date="10/06/2004 18:36:50" crc32="4159888070" />
    <log action="RedirectFile" version="864" name="image011.gif" redirectFromName="image011.gif" by="EP\roger" date="10/06/2004 18:36:50" crc32="3545754442" />
    <log action="RedirectFile" version="864" name="image010.jpg" redirectFromName="image010.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="1887095509" />
    <log action="RedirectFile" version="864" name="image009.jpg" redirectFromName="image009.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="3719341898" />
    <log action="RedirectFile" version="864" name="image008.jpg" redirectFromName="image008.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="2482167594" />
    <log action="RedirectFile" version="864" name="image007.jpg" redirectFromName="image007.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="85825655" />
    <log action="RedirectFile" version="864" name="image006.jpg" redirectFromName="image006.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="2033662698" />
    <log action="RedirectFile" version="864" name="image005.jpg" redirectFromName="image005.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="4098719411" />
    <log action="RedirectFile" version="864" name="image004.jpg" redirectFromName="image004.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="341942447" />
    <log action="RedirectFile" version="864" name="image003.jpg" redirectFromName="image003.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="1107091635" />
    <log action="RedirectFile" version="864" name="image002.jpg" redirectFromName="image002.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="3985916175" />
    <log action="RedirectFile" version="864" name="image001.jpg" redirectFromName="image001.jpg" by="EP\roger" date="10/06/2004 18:36:50" crc32="3564566084" />
    <log action="NewFile" version="864" name="White paper - EPiServer SharePoint Connector_v864.doc" redirectFromName="White paper - EPiServer SharePoint Connector.doc" by="EP\roger" date="10/06/2004 18:36:51" crc32="1840806747" />
    <log action="RedirectFile" version="865" name="page_v862.html" redirectFromName="page.html" by="EP\roger" date="10/06/2004 18:37:12" crc32="2360996174" />
    <log action="RedirectFile" version="865" name="image019.jpg" redirectFromName="image019.jpg" by="EP\roger" date="10/06/2004 18:37:12" crc32="3996977180" />
    <log action="RedirectFile" version="865" name="image018.jpg" redirectFromName="image018.jpg" by="EP\roger" date="10/06/2004 18:37:12" crc32="730497893" />
    <log action="RedirectFile" version="865" name="image017.jpg" redirectFromName="image017.jpg" by="EP\roger" date="10/06/2004 18:37:12" crc32="1359615692" />
    <log action="RedirectFile" version="865" name="image016.gif" redirectFromName="image016.gif" by="EP\roger" date="10/06/2004 18:37:12" crc32="3592226481" />
    <log action="RedirectFile" version="865" name="image015.jpg" redirectFromName="image015.jpg" by="EP\roger" date="10/06/2004 18:37:12" crc32="3628860185" />
    <log action="RedirectFile" version="865" name="image014.jpg" redirectFromName="image014.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="2968575607" />
    <log action="RedirectFile" version="865" name="image013.jpg" redirectFromName="image013.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="965234257" />
    <log action="RedirectFile" version="865" name="image012.gif" redirectFromName="image012.gif" by="EP\roger" date="10/06/2004 18:37:13" crc32="4159888070" />
    <log action="RedirectFile" version="865" name="image011.gif" redirectFromName="image011.gif" by="EP\roger" date="10/06/2004 18:37:13" crc32="3545754442" />
    <log action="RedirectFile" version="865" name="image010.jpg" redirectFromName="image010.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="1887095509" />
    <log action="RedirectFile" version="865" name="image009.jpg" redirectFromName="image009.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="3719341898" />
    <log action="RedirectFile" version="865" name="image008.jpg" redirectFromName="image008.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="2482167594" />
    <log action="RedirectFile" version="865" name="image007.jpg" redirectFromName="image007.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="85825655" />
    <log action="RedirectFile" version="865" name="image006.jpg" redirectFromName="image006.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="2033662698" />
    <log action="RedirectFile" version="865" name="image005.jpg" redirectFromName="image005.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="4098719411" />
    <log action="RedirectFile" version="865" name="image004.jpg" redirectFromName="image004.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="341942447" />
    <log action="RedirectFile" version="865" name="image003.jpg" redirectFromName="image003.jpg" by="EP\roger" date="10/06/2004 18:37:13" crc32="1107091635" />
    <log action="RedirectFile" version="865" name="image002.jpg" redirectFromName="image002.jpg" by="EP\roger" date="10/06/2004 18:37:14" crc32="3985916175" />
    <log action="RedirectFile" version="865" name="image001.jpg" redirectFromName="image001.jpg" by="EP\roger" date="10/06/2004 18:37:14" crc32="3564566084" />
    <log action="NewFile" version="865" name="White paper - EPiServer SharePoint Connector_v865.doc" redirectFromName="White paper - EPiServer SharePoint Connector.doc" by="EP\roger" date="10/06/2004 18:37:14" crc32="3324221961" />
  </logs>
</officeconfig>