<officeconfig>
  <logs>
    <log action="NewFile" version="1081" name="page.html" redirectFromName="" by="EP\per" date="11/15/2004 19:22:55" crc32="2942460611" />
    <log action="NewFile" version="1081" name="image002.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:22:55" crc32="2568130755" />
    <log action="NewFile" version="1081" name="image001.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:22:55" crc32="3489263629" />
    <log action="NewFile" version="1081" name="filelist.xml" redirectFromName="" by="EP\per" date="11/15/2004 19:22:56" crc32="2824281604" />
    <log action="NewFile" version="1081" name="Sample spreadsheet.xls" redirectFromName="" by="EP\per" date="11/15/2004 19:22:56" crc32="2794768202" />
  </logs>
</officeconfig>