<officeconfig>
  <logs>
    <log action="NewFile" version="1075" name="page.html" redirectFromName="" by="EP\per" date="11/15/2004 19:14:04" crc32="3973029709" />
    <log action="NewFile" version="1075" name="image002.gif" redirectFromName="" by="EP\per" date="11/15/2004 19:14:04" crc32="38189611" />
    <log action="NewFile" version="1075" name="image001.jpg" redirectFromName="" by="EP\per" date="11/15/2004 19:14:04" crc32="2962869046" />
    <log action="NewFile" version="1075" name="Sample document.doc" redirectFromName="" by="EP\per" date="11/15/2004 19:14:04" crc32="808577849" />
  </logs>
</officeconfig>