<officeconfig>
  <logs>
    <log action="NewFile" version="879" name="image001.gif" redirectFromName="" by="EP\roger" date="10/07/2004 09:10:12" crc32="1805686332" />
    <log action="NewFile" version="879" name="episerver.html" redirectFromName="" by="EP\roger" date="10/07/2004 09:10:12" crc32="807982287" />
    <log action="NewFile" version="879" name="Kalkylbladsexempel.xls" redirectFromName="" by="EP\roger" date="10/07/2004 09:10:12" crc32="461963820" />
  </logs>
</officeconfig>